<h2>My Actors</h2>

<div>
  <label>Actor name:
    <input #actorName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(actorName.value); actorName.value=''">
    add
  </button>
</div>

<ul class="actors">
  <li *ngFor="let actor of actors">
    <a routerLink="/detail/{{actor.id}}">
      <span class="badge">{{actor.id}}</span> {{actor.name}}<span class="popularity-badge">{{actor.popularity}}</span>
    </a>
    <button class="delete" title="delete actor" (click)="delete(actor)">x</button>
  </li>
</ul>


